* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;       
}
  
  
body {
  margin: 0 auto;
  width: 1600px; 
}
  
  
header {
  height: 95px;  
}
  
  
h1 {  
  z-index: -1;   
}
  
 
.header__nav {       
  width: 585px;  
  display: flex;
  margin-left: 501px;
  padding-top: 8px;      
  justify-content: space-between; 
  align-items: center;   
}


.header__nav_link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 0.4px;  
}


.header__nav_link_active {
  color: #ffffff;
  text-decoration: underline;  
}


.header__nav_link:hover {
  color:#00AFDB;
  cursor: pointer;
}
 

.your_life{
  display: flex;
  flex-direction: column;
  height: 744px;
  margin-top: -95px;
  background-image: url("assets/bg-image-wrapper.png");
}
  
  
.your_life__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 230px 0 0 435px;
  }
  


.your_life__discr {
  width: 504px;
  height: 50px;
  font-style: bold;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  margin: 22px 0 0 548px;
}
  
  
.your_life__btn {
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;  
  color: #FFFFFF;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  background: #00AFDB;
  margin: 29px 0 0 707px;
}
  
  
.your_life__btn:hover {
  background-color: #009CC2;
  cursor: pointer;
}
  
  
.your_life__block_soc {
  display: flex;
  width: 170px;
  height: 20px;
  margin: 183px 0 0 715px;
  justify-content: space-between;  
}
  

.block_soc_icons:hover {
  background-color: #009CC2;
  cursor: pointer;
}


.rappresent {
  height: 842px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0px;
  font-weight: 700;
}


.rappresent__title {
  font-weight: bold;  
  line-height: 28px;
  display: flex;
  align-items: flex-start;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  width: 368px;
  height: 57px;
  margin: 295px 0 0 269px;
  font-size: 24px;
}


.rappresent__discr {
  font-weight: 400;
  line-height: 145%;
  color: #4E4E4E;
  width: 407px;
  height: 80px;
  margin: 21px 0 0 268px;
}


.rappresent__discr>span {
  color: #373737;
}
  
 
.rappresent__btn {
  font-weight: 700;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;  
  color: #FFFFFF;
  width: 184px;
  height: 46px;
  background: #00AFDB;
  margin: 29px 0 0 268px;
}
  
  
.rappresent__btn:hover {
  background-color: #009CC2;
  cursor: pointer;
} 
 
  
.rappresent__img {
  margin: 120px 0 0 248px;  
}
  
  
.our_community {
  height: 504px;
  background-color:#F5F6F7;  
  position: relative;
}
  
.our_community__slider_btn {
  display: flex;  
  flex-direction: row; 
  align-items: center; 
  margin: 0px 0 0 982px;
  width: 82px;
  height: 20px;
  justify-content: space-between;
  color: #373737;  
  line-height: 140%;
  position: absolute;
  left: 268px;  
  top: 80px;
  font-size: 18px;
}


.slider_btn__discr {
  font-size: 18px;
}


.slider_btn__left_arrow:hover,
.slider_btn__right_arrow:hover {
  cursor: pointer;
  background-color: #009CC2;;
}


.our_community__info_block{
  width: 295px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  margin: 134 0 88px 272px;
  text-align:center;
  position: absolute;
  left: 271px;  
  top: 154px;  
}
  
  
.info_block_title {
  width: 295px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-top: 17px;
  color: #373737;
}
  
  
.info_block_discr { 
  line-height: 145%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color:  #4E4E4E;
  margin-top: 12px;
  letter-spacing: -0.1px;
}
  

.slider_img {
  padding-right: 30px;


}
.our_community__slider_img { 
  max-width: 894px;  
  display: flex; 
  flex-direction: row; 
  position: absolute;
  left: 706px;  
  top: 120px;
  overflow: hidden;
}


.implement {
  height: 842px;
  display: flex;
  flex-direction: row; 
}
  
  
.implement__img {
  margin: 120px 0 0 269px;
}
  
  
.implement__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 319px 0 0 140px;
}
  
  
.implement__discr {
  width: 407px;
  height: 60px;
  left: 0px;
  top: 48px;
  font-weight: normal;
  line-height: 145%;
  color: #4E4E4E;
  margin: 21px 0 0 140px;
}
  

.implement__discr__strong {
  font-weight: 700;
}

    
.implement__btn {    
  width: 180px;
  height: 46px;
  background: #00AFDB;  
  font-weight: 700;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 29px 0 0 139px;  
}
  
  
.implement__btn:hover {
  background-color: #009CC2;
  cursor: pointer;
}
  
  
.subscribe {
  height: 598px;
  background-image: url("assets/bg_5.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
  
.subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 217px 0 0 0 ;
  color: #FFFFFF;
  }
  
  /* */
#email {
  line-height: 145%;
  display: inline-block;
  width: 292px;
  height: 20px; 
  border: 0;
  padding: 14px 23px 12px 23px;
  border: 0;
  outline: 0;
  color: #373737;
}
  
  
.subscribe__btn {
  display: inline-block;
  width: 66px;
  height: 46px;
  background: #00AFDB; 
}
  
  
.subscribe__btn:hover {
  background-color: #009CC2;
  cursor: pointer;
}
  
  
.subscribe__input_email {
  display: flex;
  flex-direction: row;
  margin: 31px 0 0 0 ;
}
  
  
.download {
  height: 468px;
  background: #F5F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  
  
.download__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 120px;
  color: #373737;
}
  
  
.download__discr {
  width: 483px;
  height: 40px;
  font-style: normal; 
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 21px;
  color: #4E4E4E;
}
  
  
.download__btn {
  display: flex;
  flex-direction: row;
  width: 440px;
  justify-content: space-around;
  margin: 29px 0 0 0;
}
  
  
.bnt_apple {
  width: 188px;
  height: 50px;
  background: linear-gradient(to right, #00AFDB 0, #00AFDB 128px,#009CC2 128px, #009CC2 150px);
  font-weight: 700;  
  line-height: 19px;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  text-transform: uppercase;
  color: #FFFFFF;
}
  
  
.bnt_android {
  width: 188px;
  height: 50px;
  background: linear-gradient(to right, #00AFDB 0, #00AFDB 128px,#009CC2 128px, #009CC2 150px);
  font-weight: 700; 
  line-height: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 0 0;
}
  
  
.bnt_android:hover {
  background: #009CC2;
  cursor: pointer;
}
  
  
.bnt_apple:hover {
  background: #009CC2;
  cursor: pointer;
}

  
.footer{
  height: 184px;
  background: #000000;
  position: relative;
}
  
  
.footer_nav {  
  width: 235px;
  display: flex; 
  justify-content: space-between;
  position: absolute;
  padding-top: 75px;
  padding-left: 160px;
}
 
    
.footer_nav__elem {
  line-height: 145%;
  text-decoration: none;
  font-weight: 400;  
  color: #FFFFFF; 
  opacity: 0.8;  
}


.footer_nav__elem_link:hover {
  color:#00AFDB;
  cursor: pointer;
}


.footer_nav__elem_separation {
  opacity: 0.3; 
}


.footer__logo {
  text-decoration: none;
  color: #FFFFFF;
  position: absolute;
  margin-top:60px ;
  margin-left: 777px;   
}


.footer__discr {
  text-decoration: none;
  color: #FFFFFF;
  position: absolute;
  margin-top:75px ;
  margin-left: 1270px;
  opacity: 0.6;  
  font-weight: 200;
  letter-spacing: 0.1px;
}

